*resharper.user
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
_ReSharper.*/

*.csproj.user
*.resharper.user
*.resharper
*.ReSharper
*.cache
*~
*.swp
*.bak
*.orig
*.DotSettings.user

.DS_Store

nuspecs/

*.dotCover
*.crunchproject*
*.crunchsolution*
*.ncrunchproject*
*.ncrunchsolution*

*.log
packages/RavenDB.Server.*/Data
packages/RavenDB.Server.*/Logs
packages/RavenDB.Server.*/Tenants
